@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600&subset=latin,latin-ext);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #F9F9F9;
}

h1, h3{
	font-weight:300;
}

a {
  color: #00B7FF; }

.full-image{
	background: url(../images/Coffee-Dessert.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-image-text{
	background-color: rgba(255,255,255,0.3);
	padding-bottom: 50px;
	text-align:center;
}

.custom-button{
	border-radius: 0px;
	background-image: none;
	box-shadow: none;
	border-color: #337ab7;
}

.custom-input-addon{
	border-radius: 0;
	background-color: rgb(184, 218, 247);
	border: none;
	color: #333;
}

.custom-input{
	border-radius: 0px;
	border:none;
}

@media (max-width: 767px) { 
	.custom-button{
		display: table;
		margin: auto;
	}

	.form-group{
		display: table;
		margin: auto;
		margin-bottom: 20px;
	}
 }