<% include header %>
<div class="row">
  <div class="col-xs-12" style="text-align:center">
    <h3>Your email address <a href="mailto:<%-subscriber.email %>"><%-subscriber.email %></a> has been successfully confrimed at <%-title %>.</h3>
    <h2>Have fun discovering new and exciting features of Vim.</h2>
</div>
<% include footer %>