<% include header %>
<div class="row">
  <div class="col-xs-12" style="text-align:center">
    <h2>Thank you for subscribing to <%-title %>.</h2>
    <h3>You should recieve a confirmation mail soon. <br />After you have confirmed your email address, you will start mastering Vim.</h3>
  </div>
</div>
<% include footer %>