<% include start_html %>
<div class="full-image jumbotron">
  <div class="container">
    <% include add_alert %>
    <div class="row">
      <div class="col-xs-12 full-image-text">
        <h1>Welcome to <%-title %></h1>
        <h3>Master <a href="http://en.wikipedia.org/wiki/Vim_%28text_editor%29">Vim</a> in little pieces day by day.</h3>
        <h3>Sign up for a daily tip about Vim and it's countless features.</h3>
        <br />
        <form class="form-inline" action="/subscribe" method="POST">
          <div class="form-group">
            <label for="email" class="sr-only">Email address</label>
            <div class="input-group">
              <div class="input-group-addon custom-input-addon">Email: </div>
              <input type="email" class="form-control custom-input" id="email" name="email" style="width:256px" required="required" placeholder="Enter your email address" />
            </div>
          </div>
          <button class="btn btn-primary custom-button" type="submit">I want to learn Vim</button>
        </form>
      </div>
    </div>    
  </div>
</div>
<div class="container">
<% include footer %>