<% include header %>
<div class="row">
  <div class="col-xs-12" style="text-align:center">
    <h3>I am very sorry, the unsubscribe process failed. Please try it again later.</h3>
    <p>In case it still won't work you can drop me a mail at <a href="mailto:peter.grman@logtank.com">peter.grman@logtank.com</a>. Please also append the error message you see above.</p>
  </div>
</div>
<% include footer %>