<% include header %>
<div class="row">
  <div class="col-xs-12" style="text-align:center">
    <h3>Sorry to hear you decided to leave <%-title %>. You recieved a mail confirming it, just so we know for sure, it is you.</h3>
    <p>If this was a mistake and you want to keep recieving daily tips and tricks about Vim, than you can simply ignore the unsubscribe mail.</p>
</div>
<% include footer %>